<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{orfanatos.name}}</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>


    <link rel="icon" href="/images/logo-icon.png" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/page-orfanatos.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/animacoes.css">
    <link rel="stylesheet" type="text/css" href="/css/map.css">
    <link rel="stylesheet" type="text/css" href="/css/buttum.css ">


</head>
</head>

<body>
    <div id="page-orfanat">

        <aside class="animate-rigth sidebar">
            <img src=".//images/map-marker.svg" alt="Lar das meninas">
            <footer>
                <button onclick="history.back()">
                    <img src=".//images/arrow-back.svg" alt="Voltar">
                </button>
            </footer>

        </aside>
        <main class="animate-appear width-sidebar">
            <div class="orfanato-detalhes">
                <img src="{{ orfanatos.firstImage}}" alt="{{orfanatos.name}}">
                <div class="images">
                    {{#each orfanatos.images}}
                    <button onclick="selecimage(event)" class="active" type="button">
                        <img src="{{ this }}" alt="{{ orfanatos.name }}" />
                    </button>
                    {{/each}}


                </div>



                <div>
                    <div class="orfanato-detalhes-conteudo">
                        <h1>{{orfanatos.name}}</h1>
                        <p>
                            {{ orfanatos.about}}
                        </p>
                        <div class="map-conteiner">
                            <div id="mapid"></div>
                            <span data-lat="{{ orfanatos.lat}}" data-lng="{{ orfanatos.lng}}"></span>

                            <footer>
                                <a target="_blank"
                                    href="https://maps.google.com/mobile?q={{orfanatos.lat}},{{orfanatos.lng}}&z=15">Ver
                                    rotas no Google Maps</a>
                            </footer>
                        </div>
                        <hr>
                        <h2>Instruções para a visita</h2>
                        <p>{{ orfanatos.instructions }}</p>
                        <div class="opem-detalhes">
                            <div class="hora">
                                <img src=".//images/clock.svg" alt="Horário">
                                {{ orfanatos.opening_hours }}
                            </div>
                            {{#if orphanage.open_on_weekends }}
                            <div class="open-on-weekends open">
                                <img src="/images/info.svg" alt="Informações" />
                                Atendemos fim de semana
                            </div>
                            {{else}}
                            <div class="open-on-weekends closed">
                                <img src="/images/info-red.svg" alt="Informações" />
                                Não atendemos fim de semana
                            </div>
                            {{/if}}
                        </div>
                        <a href="https://api.whatsapp.com/send?l=pt-pt_BR&phone={{orfanatos.whatsapp}}&text=Oi, quero conversar sobre visitas no {{orfanatos.name}}."
                            class="primeiro-buttom" type="button" target="_blank">
                            <img src="/images/whatsapp.svg" alt="Chamar no whatsapp" />
                            Entrar em contato
                        </a>
                       
                     
                
                    </div>
                </div>
            </div>
        </main>



    </div>

    <script src=".//scripts/page-orfanatos.js"></script>

</body>

</html>